@import "tailwindcss";
@import "@heroui/styles";


body {
    @apply flex flex-col min-h-dvh justify-center items-center p-5 text-[#152238];
    background-image: url('/src/assets/bg-eucerin.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.decoration-skin {
    background-image: url('/src/assets/banda_iris.png');
    width: fit-content;

}

.btn-lumi {
    background-image: url('/src/assets/banda_iris.png');
}

@media screen and (max-width: 640px) {
    body {
        background-position: calc(100% + 830px) center;
    }

    .container {
        padding-left: max(1rem, env(safe-area-inset-left));
        padding-right: max(1rem, env(safe-area-inset-right));
    }
}

/* .container {
    @apply;
} */